
/* SideMenu */
.sidenavMenu {
	display: none;
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
	top: 5%;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}

.sidenavMenu a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
}

.sidenavMenu a:hover {
    background-color: #ddd;
    color: black;
}

.rmp {
	display: none;
	height: 100%;
	width: 15%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
}


/* Search button */
input[type=text] {
	display: none;
	position:absolute;
	margin-left: 20%;
    width: 130px;
	height: 40px;
	top: 10%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width */
input[name=search]:focus {
    width: 60%;
}


/* The fields where you put the no user */
input[name=user] {
	position:absolute;
	top: 28px;
	height: 4%;
	margin-left: 0%;
	display: flex;
}

/* The fields where you put the no password */
input[name=pass] {
	position:absolute;
	top: 83px;
	height: 4%;
	margin-left: 0%;
	display: flex;
}


/* Gerer le bouton pour la fausse connection */
.deroulant {
	display: none;
	position:absolute;
	height: 5%;
	width: 115px;
	margin-left: 90%;
	top: 10%;
}

/* Gerer le champs pour rentrer ses coordonnees */
.field {
	position:absolute;
	width: 215px;
	height: 50%;
	top: 17%;
	margin-left: 85%;
}


/* Pour le message au dev */
.msgdev {
	display: none;
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
		top: 85%;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}

.msgdev a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
}

.msgdev a:hover {
    background-color: #ddd;
    color: black;
}
